<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
            <link rel="stylesheet" type="text/css" href="css/angulars.css">
</head>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-route.js"></script>
<script src="app/route.js"></script>   

<body ng-app="app2">
    <ul>
        <li>100% Placement Assistance</li>
        <li>Lab facilities</li>
        <li>Training delivered by real time software experts</li>
    </ul> 
   <br><br>
   <div ng-controller="aboutCtrl">
    <p>{{msg}}</p>
    
    <table class="table table-bordered" style=" width:50%;"  >
 
        <thead >
            <tr>
                 <th  style="border: 1px solid black;">ID</th>
                 <th style="border: 1px solid black;">NAME</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="value in data">
             <td  style="border: 1px solid black;height: 30px;">{{value.id}}</td>
             <td style="border: 1px solid black;height: 30px;">{{value.name}}</tde>
            </tr>
        </tbody>
    </table>
 </div>
 
    
</body>
</html>